/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

body {
  margin: 0;
  font-family: shrikhand;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color:#9356dc;
  color: #FF79DA;
  color: #7d9e96;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
header {
  text-align: center;
  margin-top: 2em;
  display: flex;
  height: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
#div.logo {
  text-align: center;
  height: 3em;
  background-color: #9356dc;
}
.topnav {
  overflow: hidden;
  background-color: #9356dc ;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
@media screen and (max-width: 600px) {
  .topnav {
    background-color: #9356dc;
    object-fit: cover;
  }
}
h2 {
  background-color: #9356dc;
    padding: 20px;
    cursor: pointer;
    color: black;
    border-radius: 20px 20Px;
}
aside {
  color: #7d9e96;
}
div.Fonctionnement {
  display: flex;
}
* {
  box-sizing: border-box;
}

body {
  font-family: shrikhand, roboto;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 15px 10px;
    padding-left: 100px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width:600px ) {
  .column {
    width: 33%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
section {
  text-align: left;
  color: black;
}

@media (min-width: 768px) {
    div.column {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}
}
.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

img {
  max-width: 100%;
  height: auto;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 0.5rem;
  line-height: 1;
  font-size: 0.875em;
  color: #6c757d;
}
        