article.restaurant {
    display: grid;
    grid-template-areas: "photo photo"
    "nom coeur"
    "adresse coeur";
    grid-template-columns: 80% 20%;
    }
    img{
        grid-area: photo;
        width:100%;
        object-fit: cover;
    }
    h5{
        grid-area: nom;
    }
    p{
        grid-area: adresse;
    }
    span{
        grid-area : coeur;
    }
    &.nouveau::after{
        content : "nouveau";
        padding: .5rem;
        background-color: red;
    }

